@import "tailwindcss";

@theme {
  --color-dark-primary: #0f0f0f;
  --color-dark-secondary: #1a1a1a;
  --color-brand-blue: #0077ff;
  --color-text-light: #ccc;
  --color-text-mid: #bbb;
  --font-bodoni: Bodoni Moda, serif;
  --font-caveat: Caveat, cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}