@import "tailwindcss";

@theme {
  --color-dark-primary: #0f0f0f;
  --color-dark-secondary: #1a1a1a;
  --color-brand-blue: #0077ff;
  --color-text-light: #ccc;
  --color-text-mid: #bbb;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}
