/* Remove unwanted border or spacing around the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0f0ffd;
  color: white;
  border: none;
  outline: none;
}
